body {
    font-size: 16px;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.name-fields {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name-fields .form-group {
    width: 48%;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer {
    font-size: 1rem;
    margin-top: 20px;
}
